<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogator</title>
    <link href="static/stylecatalogo.css"  rel="stylesheet">
</head>

<body>
    <header><img src='images/mcdonalds.png' alt="logo" class="logo_img"></header>
    <div class="catalogo">
        <div class="lista_produtos">
            <h2>Produtos</h2>
                <ul>
                    <li>    
                        <div class="conteudo">
                            <img src="images/bolo.jpeg" alt="Item" class="item_img" >
                            <div class="detalhe">
                                <p><strong> Bolo de Chocolate </strong></p> <p>R$ 20,00</p>                      
                            </div>
                        </div>
                    </li>    
                </ul>
        </div>
    </div>
</body>
</html>